In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

In [7]:
        df = sns.load_dataset('exercise')
        df.head()

   Unnamed: 0  id     diet  pulse    time  kind
0           0   1  low fat     85   1 min  rest
1           1   1  low fat     85  15 min  rest
2           2   1  low fat     88  30 min  rest
3           3   2  low fat     90   1 min  rest
4           4   2  low fat     92  15 min  rest

In [8]:
df.shape

(90, 6)

## Limpeza de dados ##

In [9]:
df.reset_index(inplace = True, drop = True)
df

    Unnamed: 0  id     diet  pulse    time     kind
0            0   1  low fat     85   1 min     rest
1            1   1  low fat     85  15 min     rest
2            2   1  low fat     88  30 min     rest
3            3   2  low fat     90   1 min     rest
4            4   2  low fat     92  15 min     rest
..         ...  ..      ...    ...     ...      ...
85          85  29   no fat    135  15 min  running
86          86  29   no fat    130  30 min  running
87          87  30   no fat     99   1 min  running
88          88  30   no fat    111  15 min  running
89          89  30   no fat    150  30 min  running

[90 rows x 6 columns]

A coluna "Unnamed" estava servindo apenas como contador, assim como a coluna "id", por isso foi retirada.

In [10]:
df.drop('Unnamed: 0', axis=1, inplace = True)

df

    id     diet  pulse    time     kind
0    1  low fat     85   1 min     rest
1    1  low fat     85  15 min     rest
2    1  low fat     88  30 min     rest
3    2  low fat     90   1 min     rest
4    2  low fat     92  15 min     rest
..  ..      ...    ...     ...      ...
85  29   no fat    135  15 min  running
86  29   no fat    130  30 min  running
87  30   no fat     99   1 min  running
88  30   no fat    111  15 min  running
89  30   no fat    150  30 min  running

[90 rows x 5 columns]

## Tratamento de dados faltantes. ##

In [13]:
ausencia_values = df.isnull().sum()
print(ausencia_values)

id       0
diet     0
pulse    0
time     0
kind     0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      90 non-null     int64
 1   diet    90 non-null     category
 2   pulse   90 non-null     int64
 3   time    90 non-null     category
 4   kind    90 non-null     category
dtypes: category(3), int64(2)
memory usage: 2.2 KB

Não há dados faltante nesse dataset

## Tratamento de dados discrepantes ##

In [14]:
numeric_data = df.select_dtypes(include=['int64', 'float64'])

Q1 = numeric_data.quantile(0.25)
Q3 = numeric_data.quantile(0.75)
IQR = Q3 - Q1
outliers = numeric_data[(numeric_data < (Q1 - 1.5 * IQR)) | (numeric_data > (Q3 + 1.5 * IQR))]

print(outliers)

    id  pulse
0  NaN    NaN
1  NaN    NaN
2  NaN    NaN
3  NaN    NaN
4  NaN    NaN
..  ..    ...
85 NaN  135.0
86 NaN  130.0
87 NaN    NaN
88 NaN    NaN
89 NaN  150.0

[90 rows x 2 columns]

In [16]:
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR
outliers = numeric_data[(numeric_data < limite_inferior)| (numeric_data > limite_superior)]

print(outliers)

    id  pulse
0  NaN    NaN
1  NaN    NaN
2  NaN    NaN
3  NaN    NaN
4  NaN    NaN
..  ..    ...
85 NaN  135.0
86 NaN  130.0
87 NaN    NaN
88 NaN    NaN
89 NaN  150.0

[90 rows x 2 columns]

In [17]:
dados_limpos = numeric_data[(numeric_data >= limite_inferior) & (numeric_data <= limite_superior)]

print(dados_limpos)

    id  pulse
0    1   85.0
1    1   85.0
2    1   88.0
3    2   90.0
4    2   92.0
..  ..    ...
85  29    NaN
86  29    NaN
87  30   99.0
88  30  111.0
89  30    NaN

[90 rows x 2 columns]

In [19]:
dados_limpos['pulse'].fillna(dados_limpos['pulse'].median(), inplace=True)
print(dados_limpos)

    id  pulse
0    1   85.0
1    1   85.0
2    1   88.0
3    2   90.0
4    2   92.0
..  ..    ...
85  29   95.0
86  29   95.0
87  30   99.0
88  30  111.0
89  30   95.0

[90 rows x 2 columns]

/tmp/ipykernel_2643/3135314141.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dados_limpos['pulse'].fillna(dados_limpos['pulse'].median(), inplace=True)